html,body{
    margin:0;
    padding:0;
}
@font-face {
    font-family:mrssheppards-regular ;
    src: url(../fonts/MrsSheppards-Regular.ttf);
}
@font-face{
    font-family:ChildsHandwriting-8AX2;
    src: url(../fonts/ChildsHandwriting-8AX2.ttf);
}
h1{
    text-align: center;
    font-family: 'mrssheppards-regular', sans-serif;
    font-size: 65px;
    color:black;
    padding-top: 15px;
}
nav .tabheaders li{
    border: none;
    font-family:"helvetica";
    color: black;
    font-size: 16px;
    list-style: none;
    display:inline-block;
    padding: 30px;
    font-weight: 100;
    padding-top: 25px;
}
nav{
    text-align: center;
}
a:link{
    color: black;
    text-decoration: none;
}
a:active{
    color: black;
}
a:visited{
    color:black
}
.tabheaders li:hover{
    background-image: url(../images/navbarcircles3.png);
    background-repeat:no-repeat;
    background-size:75%;
    background-position: center;
}
#catgif{
    width:1450px;
    height: auto;
    float: right;
    position:relative;top: 525px;
    opacity: 80%;
}
/* homepageillustration */

body{
    background-image:url(../images/Reeditedhomepage.png);
    background-size:cover;
    width: 100vw;
    height:100vh;
    margin: auto;
    background-repeat:no-repeat;
}

/* Dropdown Button */
.dropbtn {
    font-family: helvetica;
    font-weight: 100;
    color: black;
    font-size: 16px;
    background:none;
    border: none;
  }
  
  /* The container <div> */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content*/
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    opacity: 85%;
    min-width: 160px;
    z-index: 1;
  }
  
  /* Dropdown links*/
  .dropdown-content a {
    background-color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 100;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {color: white;}
  .dropdown-content a:hover {background-color: black;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {color: rgb(56, 102, 56)}

#neighborpage{
    background:none;
    cursor: url("../images/mouse.png"), auto;
}
#belongingspage{
    background:none;
    background-color: rgb(252, 240, 205);
}

#neighbortitle{
    font-family: "ChildsHandwriting-8AX2";
    font-size: 80px;
    position: relative; top: 18px;
    background-color: white;
}
#steve{
    width: 770px;
    height: auto;
    margin-left: 80px;
    margin-right: 50px;
    margin-top: 40px;
}

.oms{
    font-family:"avenir";
    font-size: 21px;
    line-height: 35px;
}
#paragraph1{
    margin-top: 160px;
    position:relative; right: 235px;
    width: 108%;
}
#paragraph2{
    margin-right: 100px;
    margin-left:100px;
    padding-bottom: 100px;
}
#neighborpage{
    background-color: rgb(252, 240, 205);
}

#paragraph1::first-letter{
    font-family: "ChildsHandwriting-8AX2";
    font-size: 85px;
  }
  #omsbutton{
      width: 700px;
      height: auto;
      float: right;
      margin-bottom: 50px;
  }
  .belongingsparagraphs{
    font-family:"avenir";
    font-size: 21px;
    line-height: 35px;
    margin-left:550px;
    margin-top: 100px;
    margin-right: 100px;
  }
.objects{
    width: 300px;
    height: auto;
    display: block;
}
#mug{
    width: 350px;
    height: auto;
}
#journal{
    width: 330px;
    height: auto;
}
.objectscontainer{
    float: left;
    position: absolute; top: 5px;
    margin-top: 250px;
    margin-left: 150px;
}
#ph{
width: 190px;
height: auto;
}
#lh{
width: 100px;
height: auto; 
margin-top: 55px;
}
#jh{
width: 140px;
height: auto;   
margin-top: 55px;
}
#mth{
width: 190px;
height: auto;   
margin-top: 55px;
}
#mugh{
width: 80px;
height: auto;
margin-top: 55px;
}
#rch{
width: 270px;
height: auto;
margin-top: 55px;
}
.headings{
    margin-bottom: 10px;
}
#lastpara{
    padding-bottom: 100px;
}
h2{
    font-family:"mrssheppards-regular";
    font-size: 90px;
    text-align: center;
}
h3{
    font-family:"mrssheppards-regular";
    font-size: 90px;
    position: relative; left: 75px;
    padding: 50px;

}
#ownerpage{
    background-image: none;
    background-color: #576c83;
    cursor:url("../images/pencil.png"), auto; ;
}
#joyceimage{
    width: 565px;
    height: auto;
    margin-left: 110px;
    margin-top: 50px;
}
.ownerparagraphs{
    font-family:"avenir";
    font-size: 21px;
    line-height: 35px;
}
#paragraph3{
    margin-top: 200px;
    width: 90%;
}
#paragraph4{
    margin-right: 100px;
    margin-left:100px;
    padding-bottom: 100px;
}
#j{
    margin: none;
    position: absolute; top: 375px;
    width: 60px;
    height: auto;
}
